<!DOCTYPE html>
{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="en">
    {% cache 60 head theme%}
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} {% endblock title %}</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <style>
        body {background-color: {% if theme == 'dark' %} darkcyan {% else %} powderblue {% endif %};}
        </style>
    </head>
    {% endcache %}
    <body>
        <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
       <div class="container">
           {% cache 30 nav1 %}
           <button class="navbar-toggler" type="button" data-toggle="collapse"
                   data-target="#navbarResponsive"
                   aria-controls="navbarResponsive" aria-expanded="false"
                   aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           {% endcache %}
           <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                   {% cache 30 nav2 LANGUAGE_CODE %}
                   <li class="nav-item active">
                       <a class="nav-link" href="/news">{% trans "Main" %}</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/news/news/">{% trans "News" %}</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/news/articles/">{% trans "Articles" %}</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/news/search/">{% trans "Search" %}</a>
                   </li>
                   {% endcache %}
                   <li class="nav-item">
                       {% include 'elements/lang.html'%}
                   </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/accounts/profile">{{ user.username }}</a></li>
                   {% else %}
                        <li class="nav-item"><a class="nav-link" href="/accounts/login">{% trans "Enter" %}</a></li>
                   {% endif %}
                   {% cache 30 nav3 LANGUAGE_CODE user.is_authenticated%}
                   {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/accounts/logout">{% trans "Exit" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/news/news/create">{% trans "Add New" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/news/articles/create">{% trans "Add Article" %}</a></li>
                    {% endif %}
                    {% endcache %}


               </ul>
           </div>
       </div>
    </nav>
        <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   {% block before_content %}
                   {% endblock before_content %}
               </div>
           </div>
        </div>
        <!-- Page content-->
        <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   {% block content %}
                   {% endblock content %}
               </div>
           </div>
        </div>
        <div class="container">
               <div class="row">
                   <div class="col-lg-12 text-center">
                       {% block after_content %}
                       {% endblock after_content %}
                   </div>
               </div>
        </div>
    </body>
</html>
