{% extends 'flatpages/default.html' %}

{% load сustom_filters %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<h4>{{ post.date | date:'d E Y'}} {{ post.title | censor }}</h4>
<p>{{ post.text | censor }}</p>
<p>Автор: <a href="{% url 'user' pk=post.puser.pk %}">{{ post.puser.user.username }}</a></p>


{% if request.user.is_authenticated%}
    {% include 'elements/subscribe.html' %}
{% endif %}

<hr>

{% if perms.news_app.change_post %}
    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
{% endif %}

{% if perms.news_app.delete_post %}
    <a href="{% url 'post_delete' post.id %}">Удалить</a>
{% endif %}

{% endblock content %}