{% extends 'flatpages/default.html' %}

{% load сustom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

{% for post in posts %}
<h4><a href="/news/{{ post.pk }}"> {{ post.date | date:'d E Y'}} {{ post.title | censor }}</a></h4>
<p>{{ post.text | censor | truncatechars:20}}</p>
{% endfor %}

{% endblock content %}

{% block before_content %}
    {% for f in before %}
        {% include f %}
    {% endfor %}
{% endblock before_content %}

{% block after_content %}
    {% for f in after %}
        {% include f %}
    {% endfor %}
{% endblock after_content %}
